.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin-top: -200px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.row {
    display: flex;
    justify-content: center;
}

.description {
    font-size: 1.5rem;
    white-space: nowrap;
}

.tip {
    color: var(--ifm-color-primary);
    font-weight: var(--ifm-heading-font-weight);
}

.featureCard {
  margin: 20px;
  background: white;
  transition: all 0.3s ease;
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}